<!doctype html> <!-- The universal file that displays one common output across all pages -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/dist/output.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/content_loader.js"></script>
  <title>{{title}}</title>
</head>
<body>
  <div id="navbar"></div> <!-- Navigation bar present on all pages -->
  {{{body}}}
</body>
</html>

<!--
{{#if username}}
    <h3 align="center">Signed in as: {{username}}</h3>
{{/if}}
-->