<h1>Enter your customer id and password to complete the transaction:</h1>
<form method="get" action="order">
    <table border='0'>
        <tr>
            <td>Customer ID:</td>
            <td><input type="text" name="customerId" size="20"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="text" name="password" size="20"></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit">
                <input type="reset" value="Reset">
            </td>
        </tr>
    </table>
</form>