<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/dist/output.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script> 
    $(function(){
      $("#includedContent").load("navbar.html"); // Ensure the path is correct
    });
  </script>
</head>
<body>
  <div id="includedContent"></div>
  {{#if username}}
    <h3 align="center">Signed in as: {{username}}</h3>
  {{/if}}
</body>
</html>
